{% extends 'base.html.twig' %}

{% block body %}
    <div id="mainWrapper">
        <div class="box">

            <form method="post">


                <h2>Choisir un mot de passe</h2>

                <p>
                    <label for="_username">Compte</label>
                    <input type="text" id="_username" class="form-control" disabled value="{{ username }}">
                </p>

                <p>
                    <label for="inputPassword">Nouveau mot de passe</label>
                    <input type="password" name="_password" id="inputPassword" class="form-control" required min="4">
                </p>

                <p>
                    <button class="btn btn-lg btn-primary button whiteButton" type="submit">
                        Enregistrer
                    </button>
                </p>
            </form>

        </div>
    </div>
{% endblock %}
