{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

    <h2>{{ user.nom }}</h2>
    {% set url = url('app_reset_password', {token: user.resetPasswordToken}) %}
    <img id="imgreset" style="background-color: white; cursor: pointer" src="{{ url|qrcode }}">
    <br>
    <span id="copied">(Click to copy)</span>

    <script>
        // on click, copy the link to the clipboard
        document.getElementById("imgreset").addEventListener("click", function() {
            var copyText = "{{ url }}";
            navigator.clipboard.writeText(copyText);
            document.getElementById("copied").innerHTML = "✅ Copied!";
        });
    </script>

{% endblock %}
